@font-face {
  src: url(../fonts/Vazir.eot), url(../fonts/Vazir.ttf),
    url(../fonts/Vazir.woff), url(../fonts/Vazir.woff2);

  font-family: "vazir";
}
body {
  font-family: "vazir";
}

/* category menu */
.category::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background: #377dff;
  bottom: 0;
  transition: width 0.3s;
}
.category:hover::before {
  width: 100%;
}

/* discount menu */
.discount::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background: #fd4545;
  bottom: 0;
  transition: width 0.3s;
}
.discount:hover::before {
  width: 100%;
}

/* mag menu */
.mag::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background: #78bf7b;
  bottom: 0;
  transition: width 0.3s;
}
.mag:hover::before {
  width: 100%;
}

/* shop menu */
.shop::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background: #9c71ef;
  bottom: 0;
  transition: width 0.3s;
}
.shop:hover::before {
  width: 100%;
}

.mobit-category::-webkit-scrollbar {
  height: 5px;
}
.mobit-category::-webkit-scrollbar-track {
  background-color: #dbdbdb;
  border-radius: 10px;
}
.mobit-category::-webkit-scrollbar-button {
  width: 60px;
}
.mobit-category::-webkit-scrollbar-thumb {
  background-color: #377dff;
  border-radius: 10px;
}

/* SVG */
.cls-1 {
  fill: none;
}

/* banners */
.banners .swiper-pagination-bullets {
bottom: 0 !important;
}
