
/* titles */
.en-title h4::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 2px;
    background-color: #ececec;
    border-radius: 20px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.en-title h4::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 2px;
    background-color: #ececec;
    border-radius: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

/* responsive */
@media (min-width: 768px) {

  .productPage-Slider .mySwiper .swiper-slide{
    width: 85px !important;
    height: 85px !important;
  }

  .productPage-Slider .mySwiper .swiper-slide img{
    width: 60px;
    height: 60px;
  }
}
